
<br><br>

<%=form_tag check_search_path ,method: "get" do%>
<%=text_field_tag :search , params[:search]%>
<%=submit_tag("search",:name => nil)%>

<%end%>

<br><br>

<h1>user who payed tax:-(<%=@a%> Rs.)</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Type of property</th>
      <th>Size of property</th>
      <th>State</th>
      <th>District</th>
      <th>Cost</th>
      <th>Tax</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payed.each do |property| %>
      <%a=1%>
      <tr>
        <td><%=property.Owner.split("@")[0]%></td>
        <td><%= property.Type_of_property %></td>
        <td><%= property.Size_of_property %></td>
        <td><%= property.State %></td>
        <td><%= property.District %></td>
        <td><%= property.Cost %></td>
        <td><%= property.Tax %></td>
        <td><%= property.User_id %></td>

        <%if can? :read ,property%>
        <td><%=button_to 'Show', property %></td>
        <%end%>  
        
        <%if can? :update ,property%>
        <td><%=link_to 'Edit', edit_property_path(property) %></td>
        <%end%>
        
        <%if can? :delete ,property%>
        <td><%=button_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
        <%a+=1%>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>user who hasent payed:-(<%=@b%> Rs.)</h1>


<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Type of property</th>
      <th>Size of property</th>
      <th>State</th>
      <th>District</th>
      <th>Cost</th>
      <th>Tax</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @not_payed.each do |property| %>
      <%a=1%>
      <tr>
        <td><%=property.Owner.split("@")[0]%></td>
        <td><%= property.Type_of_property %></td>
        <td><%= property.Size_of_property %></td>
        <td><%= property.State %></td>
        <td><%= property.District %></td>
        <td><%= property.Cost %></td>
        <td><%= property.Tax %></td>
        <td><%= property.User_id %></td>

        <%if can? :read ,property%>
        <td><%=button_to 'Show', property %></td>
        <%end%>  
        
        <%if can? :update ,property%>
        <td><%=link_to 'Edit', edit_property_path(property) %></td>
        <%end%>
        
        <%if can? :delete ,property%>
        <td><%=button_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
        <%a+=1%>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<%if current_user.superadmin_role%>
      <div>
      <h1>states:-</h1>
        <div class="states"><%=pie_chart Property.group(:Payed).count ,donut:true,colors:[:wheat]%>
       </div>
        <div class="states"><%=column_chart Property.group(:Payed).count,colors:[:ca5116] %>
        <h3 style="text-align: center;">Payments Done</h3>
      </div>
      </div>
<%end%>
