<style type="text/css">
	table{
		position: relative;
		left:15%;
	}
</style>
<h1>user who payed tax :-(<%=@a%> Rs.)</h1>
<table>
	<tr>
		<th>Name</th>
		<th>eamil</th>
		<th>ammount(Rs.)</th>		
	</tr>
	 <%@payed.each do |i| %>
	 <tr>
		<td><%=i.Owner.split("@")[0]%></td>
		<td><%=i.Owner%></td>
		<td><%=i.Tax%></td>
	 </tr>
      <%end%>
</table>

<h1>user who hasent payed :-(<%=@b%> Rs.)</h1>

<table>
	<tr>
		<th>Name</th>
		<th>eamil</th>
		<th>ammount(Rs.)</th>		
	</tr>
	 <%@not_payed.each do |i| %>
	 <tr>
		<td><%=i.Owner.split("@")[0]%></td>
		<td><%=i.Owner%></td>
		<td><%=i.Tax%></td>
		<%if current_user.superadmin_role? and current_user.supervisor_role?  %>
        <td>
        <p><%= button_to "pay_tax", { :controller => "properties", :action => "pay_tax"}%></p><%end%>
	     </td>
	 </tr>
	  <%end%>
</table>

<div>
<h1>states:-</h1>
  <div class="states"><%=pie_chart Property.group(:Payed).count ,donut:true,colors:[:wheat]%>
  	
  </div>
  <div class="states"><%=column_chart Property.group(:Payed).count,colors:[:ca5116] %>
  <h3 style="text-align: center;">Payments Done</h3>
</div>
</div>