<%=@user.Owner.split("@")[0]%> ,<br>
This is to inform you that you tax repayment is due so please cheack out the website and full fill your tax payments .
total tax to be paid :<%=@user.Tax%> 
<!--<%=%>-->