<h1>Properties</h1>
<div>
<br><br>
<div class="states">
<%if current_user.superadmin_role%>
    <%=form_tag check_search_path ,method: "get" do%>
    <%=text_field_tag :search , params[:search]%>
    <%=submit_tag("search",:name => nil)%>
    <%end%>
<%end%>

<br>
</div>
<div class="states">
<br>

<br><br>
<%if current_user.superadmin_role%>
    <%=form_tag tax_collected_in_the_year_check_the_year_path ,method: "get" do%>
    <%=label_tag :enter_the_year_you_want_to_cheack%>
    <%=datetime_local_field_tag :search1 , params[:search1]%>
    <%=submit_tag("search",:name => nil)%>
    <%end%>
<%end%>

<br>
</div>
<br>
</div>



<table>
  <thead>
    <tr>
      <th>Date of creation </th>
      <th>Owner</th>
      <th>Type of property</th>
      <th>Size of property</th>
      <th>State</th>
      <th>District</th>
      <th>Cost</th>
      <th>Tax</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
        <tr>
      <%if current_user.superadmin_role||current_user.id == property.User_id||current_user.email==property.Owner%>

        <td><%= property.created_at.year %></td>
        <td><%=property.Owner.split("@")[0]%></td>
        <td><%= property.Type_of_property %></td>
        <td><%= property.Size_of_property %></td>
        <td><%= property.State %></td>
        <td><%= property.District %></td>
        <td><%= property.Cost %></td>
        <td><%= property.Tax %></td>
        <td><%= property.User_id %></td>

        <%if can? :read ,property%>
        <td><%=button_to 'Show', property %></td>
        <%end%>  
        
       

       <%if current_user.superadmin_role||current_user.id==property.User_id%>

        <%if can? :update ,property%>
        <td><%=link_to 'Edit', edit_property_path(property) %></td>
        <%end%>
        
        <%if can? :delete ,property%>
        <td><%=button_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <%end%>
       <%end%>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%if current_user.superadmin_role%>
<div>
<h1>states:-</h1>
  <div class="states"><%=pie_chart Property.group(:Payed).count ,donut:true,colors:[:wheat]%>
 </div>
  <div class="states"><%=column_chart Property.group(:Payed).count,colors:[:wheat] %>
  <h3 style="text-align: center;">Payments Done</h3>
</div>
</div>
<%end%>


<%if current_user.superadmin_role?||current_user.supervisor_role?%>
  <%=link_to 'New Property', new_property_path %>
<%end%>


