<style type="text/css">
    td{
        height: 200px;
        font-size: 27px;
    font-family: fantasy;
    color: darkgrey;
    }
    .first{
        /*text-align: center;*/
        position: relative;
    
    top: 34px;
    }
</style>
<div class="first">
<table>
	<tr>
		<th>monthly</th>
		<th>quaterly</th>
		<th>yearly</th>
	</tr>

    <tr>
    	<td><%=@munth%><p>
        <%= button_to "pay_tax", { :controller => "properties", :action => "check_if_payed"}%>
</p></td>
    	<td><%=@quater%><p>
        <%= button_to "pay_tax", { :controller => "properties", :action => "check_if_payed"}%>
</p></td>
    	<td><%=@yearly%><p>
        <%= button_to "pay_tax", { :controller => "properties", :action => "check_if_payed"}%>
</p></td>

    </tr>
    

</table>
<!-- </div> -->

</div>