<head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 200px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
       span>img{
            height: 247px;
            width: 100%;
            /*position: relative;*/
            /*left: 11%;*/

         }
         .butn{
          position: relative;
          left: 46%;
          margin-top: 5%;
         }
    </style>
  </head>
  
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  // var uluru = {lat: @property.latitude, lng: longitude};
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX9B7R-SncLDb8w_Dlj8fOJRJp_5rlBtA&callback=initMap">
    </script>
  




<br>








<p>
  <strong>Image:</strong>
  
<span><%= image_tag(@property.image) %></span>
  
</p>


<table>
  <tr>
    <th>Categorys</th>
    <th>Details</th>
  </tr>

  <tr>
    <td>  <strong>Owner</strong></td>
    <td> <%=  @property.Owner.split("@")[0] %></td>
  </tr>
  <tr>
      <td>  <strong>Type of property</strong></td>
      <td>  <%= @property.Type_of_property %></td>
  </tr>
  <tr>
      <td><strong>Size of property</strong></td>
      <td><%= @property.Size_of_property %></td>
  </tr>
  <tr>
      <td><strong>State</strong></td>
      <td> <%= @property.State %></td>
  </tr>
  <tr>
      <td> <strong>District</strong></td>
      <td><%= @property.District %></td>
  </tr>
  <tr>
      <td><strong>Cost</strong></td>
      <td><%= @property.Cost %></td>
  </tr>
  <tr>
      <td><strong>Tax</strong></td>
      <td> <%= @property.Tax %>
        <%if @property.payed%> <br>(Payed)<%else%> <br>(Not-Payed)<%end%>
      </td>
  </tr>
  <tr>
      <td><strong>Address</strong></td>
      <td><%= @property.Address %></td>
  </tr>
  <tr>
    <td><strong>User</strong></td>
    <td><%= @property.User_id%></td>
  </tr>

</table>


  

 





<%if current_user.superadmin_role? || current_user.supervisor_role?%>
        <div class="butn"><%= button_to "Send Notice", { :controller => "properties", :action => "ask_to_pay_tax"}%></div>
<%end%> 
<!-- http://localhost:3000/rails/mailers/user_mailer/send_tax_notice      to access the preview-->

<%if current_user.user_role?%>
<%if @property.payed%>(Payed)
<%else%>
<p><%= button_to "pay_tax", { :controller => "properties", :action => "pay_tax"}%><%end%>
<%end%></p>
<%if current_user.superadmin_role||current_user.supervisor_role%>
<p style="float: right;"><%= link_to 'Edit', edit_property_path(@property) %></p> 
<%end%>
<%= link_to 'Back', properties_path %>
