<h1>all users </h1>
<table style="margin-top: -50%;margin-left: 5%;">
  <tr>
    
    <th>User_id</th>
    <th>name</th>
    <th>email</th>
    <th>type</th>
    <th>time_of_creation</th>
  </tr>
 
<% @user.each do |all|%>
  <tr>
    <td><%=all.id%></td>
    <td><%=all.email.split("@")[0] %></td>
    <td><%=all.email %></td>
    <td>
      <%if all.superadmin_role?%> super admin <%end%>
      <%if all.supervisor_role?%> super_visor <%end%>
      <%if all.user_role?%> simple_user <%end%>
    </td>    
    <td><%=all.created_at.to_s.split(" ")[0]%></td>
    
  </tr> 
 <br>
<%end%>
</table>




