<style type="text/css">
	input{
		width: 80%;
		margin-top: 3%;
		padding-top: 5px;
	}
	.log_in_section{
    border-radius: 13%;
    position: relative;
    left: 37%;
    margin-top: 8%;
    border: 21px #ffcc003d double;
    text-align: center;
    width: 25%;
    border-right: 3px #ffcc003d solid;
    border-left: 3px #ffcc003d solid;
    height: 350px;
	}
</style>

 <%if current_user.superadmin_role? || current_user.supervisor_role? %>
			   
	<div class="log_in_section">
			<h1>Creat New user</h1>

			<%= form_for User.new , :url => {:action => "add_user"} do |form| %>
					    <br><br>
					  <%= form.label :email%>
					  <%=form.email_field :email%>
					    <br><br>
					  <%= form.label :password%>
					  <%=form.password_field :password%>
					    <br><br>
					  <%= form.label :password_confirmation%>
					  <%=form.password_field :password_confirmation%>
					    <br><br>
					  <%=form.submit 'add'%>
   			<%end%>
    </div>
 <%else%>
    <h1 style="text-align: center;"> you are restricted </h1>			
<%end%>