/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	/*background-image: linear-gradient(lightgrey,#ff980008,45deg,1000px);*/
 	background-image: repeating-linear-gradient(45deg, white,lightyellow 1000px);
 }
 .user_type_notice{
position: absolute;
    top: 0px;
    right: 10px;
/* 	position: absolute;
 	top: -10px;
 	right: 10px;
 	border:05px solid lightgrey;
 	text-align: center;
 	padding: 05px;
 	margin-bottom: 30px;	
*/
 }
 tr,td{padding: 10px;
      
       width: 20%;
       text-align: center;}
   th,table,td{
   	background-image:linear-gradient(white,#f1e3cb) ;
    border:1px solid black;
    align-content:  center;
   }
 #home_link{
 	/*this is for the home tag that is on every page*/
 }
#log