// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


div>a{
	text-decoration: none;
	color: #e39393;
    font-size: 15px;
    font-family: sans-serif;
    display: inline-block;
    width: 230px;
    height: 21px;
    margin-bottom: 15px;
    margin-top: 5px;    

}
div>a:hover{
	background-color:#e39393; 
}

.container_in_home{

    display: inline-block;
    width: 100%;
    position: relative;
    background: #ffff001c;
    top: 59px;
    height: 500px;
}
.side_section{
    position: relative;
    top: 0px;
    display: inline-block;
    width: 28%;
    background: #efe8d0;
    text-align: center; 
    height: 475px;
    background-image: repeating-linear-gradient(90deg, wheat, transparent 259px);

}
.main_section{
   position: relative;
    top: -50px;
    display: inline-block;
    height: 460px;
    width: 71%;
    background-color: #ffdeb175;
}
.image_at_home{
text-align: center;
    position: relative;
    top: 10px;
}
.first_para{    display: inline-block;
    position: relative;
    top: 5px;
    left: 5%;
    width: 90%;
    font-family: monospace;
    color: #b29718bd;
}
.foot_of_home{
    height: 50px;
    width: 100%;
    background-color: #ffc1076b;
    position: relative;
    top: 120px;
    text-align: center;
}
.image_of_foot{

    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: wheat;*/
    margin-top: 13px;
}