<style type="text/css">
  input{
    width: 70%;
    position: relative;
    left: 20%;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px #948f86 dotted;
    background-color: transparent;
  }
  label{
    position: relative;
    /*left: 13%;*/
    top: 20px;
    margin-top: 3%;
    font-size: 17px;
    font-family: cursive;
  }
  .actions>input{
    /*background-color: red;*/
    width: 12%;
    color: #383734
    font-size: 18px;
    /*background-image: repeating-linear-gradient(45deg, yellow, wheat 100px);*/
    font-weight: 600;
    border: double;
    border-radius: 20%;
    position: relative;
    left: 20%;
    margin-top: 5%;
    padding-bottom: 0;
  }
  select{
    position: relative;
    left: 20%;
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: dotted;
  }
</style>


<%= form_with(model: rule, local: true) do |form| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
        <% rule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Type_of_property %>
    <%= form.select(:Type_of_property, [['commercial'], ['semi_commercial'], ['non-commercial']]) %>
  </div>

  <div class="field">
    <%= form.label :Size_of_property %>
    <%= form.select(:Size_of_property, [['Large'], ['Medium'], ['small']]) %>
    
  </div>

  
  <div class="field">
    <%= form.label :State %>
    <%= form.text_field :State %>
  </div>

  <div class="field">
    <%= form.label :District %>
    <%= form.text_field :District %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.select(:frequency, [['monthly',1], ['quaterly',3], ['yearly',12]]) %>

  </div>

  <div class="field">
    <%= form.label :Tax %>
    <%= form.text_field :Tax %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
