<h1>Rules</h1>

<table>
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Type of property</th>
      <th>Size of property</th>
      <th>State</th>
      <th>District</th>
      <th>Frequency</th>
      <th>Tax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
     
     <tr>
        <td><%=rule.created_at.year%></td>
        <td><%= rule.Type_of_property %></td>
        <td><%= rule.Size_of_property %></td>
        <td><%= rule.State %></td>
        <td><%= rule.District %></td>
        <td><%= rule.frequency %></td>
        <td><%= rule.Tax %></td>
       
        <%if can? :read ,rule%>
        <td><%= link_to 'Show', rule %></td>
        <% end %>
       
        <%if can? :update ,rule%>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <% end %>
       
        <%if can? :delete ,rule%>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user.superadmin_role?||current_user.supervisor_role?%>
<%if current_user.superadmin_role%><%= link_to 'New Rule', new_rule_path %><%end%>
<%end%>
