<style type="text/css">
  table{
   position: relative;
    left: 15%; 

  }
</style>
<table >
  <tr>
    <th>Categorys</th>
    <th>Details</th>
  </tr>

  
  <tr>
      <td>  <strong>Type of property</strong></td>
      <td>  <%= @rule.Type_of_property %></td>
  </tr>
  <tr>
      <td><strong>Size of property</strong></td>
      <td><%= @rule.Size_of_property %></td>
  </tr>
  <tr>
      <td><strong>State</strong></td>
      <td> <%= @rule.State %></td>
  </tr>
  <tr>
      <td> <strong>District</strong></td>
      <td><%= @rule.District %></td>
  </tr>
  
  <tr>
      <td><strong>Tax</strong></td>
      <td> <%= @rule.Tax %>%</td>
  </tr>
  <tr>
    <td><strong>Frequency:</strong></td>
    <td><%= @rule.frequency %></td>
  </tr>
</table>







<%if current_user.superadmin_role%>
<p style="float: right;"><%= link_to 'Edit', edit_rule_path(@rule) %></p>
<%end%>
<%= link_to 'Back', rules_path %>
