<h1> properties yearly collection = <%=@a%> Rs.</h1>



<table>
  <thead>
    <tr>
      <th>Date of creation </th>
      <th>Owner</th>
      <th>Type of property</th>
      <th>Size of property</th>
      <th>State</th>
      <th>District</th>
      <th>Cost</th>
      <th>Tax</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<%if @Properties%>
    <% @Properties.each do |property| %>
        <tr>
      <%if current_user.superadmin_role||current_user.id == property.User_id||current_user.email==property.Owner%>

        <td><%= property.created_at.year %></td>
        <td><%=property.Owner.split("@")[0]%></td>
        <td><%= property.Type_of_property %></td>
        <td><%= property.Size_of_property %></td>
        <td><%= property.State %></td>
        <td><%= property.District %></td>
        <td><%= property.Cost %></td>
        <td><%= property.Tax %></td>
        <td><%= property.User_id %></td>

        <%if can? :read ,property%>
        <td><%=button_to 'Show', property %></td>
        <%end%>  
        
       

       <%if current_user.superadmin_role||current_user.id==property.User_id%>

        <%if can? :update ,property%>
        <td><%=link_to 'Edit', edit_property_path(property) %></td>
        <%end%>
        
        <%if can? :delete ,property%>
        <td><%=button_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <%end%>
       <%end%>
      <%end%>
      </tr>
    <% end %>
   <%else%> 
   <h3>No records found</h3>
  <% end %>
 </tbody>
</table>

<br>


