<!DOCTYPE html>
<html>
  <head>
    <title>Pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo_image">
      <%=image_tag("PAYTAX.png")%>
    </div>
<hr style=" height:2px; background-color: wheat">

<div class="user_type_notice">
     <%if current_user%>
      <%if current_user.superadmin_role? %>
        <p >loged in as super admin.</p>
      <%elsif current_user.supervisor_role? %>
        <p >loaged in as <strong>supervisor .</strong></p>
      <%else%>
         <p >loaged in as <strong> simple user. </strong></p>
      <%end%>  
    name: "<%=current_user.email.split("@")[0]%>" 
    <%end%>  


</div>

<!--  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
 -->    
    <%= yield %>
    


<div class="foot_of_home">
  <div class="image_of_foot"><%=image_tag("tumblr.png")%> </div>
  <div class="image_of_foot"><%=image_tag("linkedin.png")%> </div>
  <div class="image_of_foot"><%=image_tag("instagram.png")%> </div>
  <div class="image_of_foot"><%=image_tag("github.png")%> </div>
</div>
    


     <%if current_user%>
    <p id="home_link"><%=link_to'HOME',home_index_path%></p>
     <%end%>    

  </body>
</html>
